:root {
  /*--currencyPrefix: "$";*/
}

.contenedorCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666;
  padding-bottom: 10px;
}

.contenedorCards .card {
  width: 300px;
  transition: ease all .3s;
}

.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs {
  transform: rotateX(360deg) scale(1.2);
}

.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg path, .contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg circle {
  fill: #fff;
  transition-delay: .2s;
}

.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .inCart {
  transform: scale(1);
}

.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .outCart {
  transform: scale(0);
}

.contenedorCards .card .wrapper {
  margin: 60px 10px 10px 10px;
  padding-top: 300px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
  transition: ease all .3s;
  background: #fff;
}

.contenedorCards .card .wrapper:hover {
  transform: translateY(-10px);
}

.contenedorCards .card .wrapper:hover .imgProd {
  height: 350px;
}

.contenedorCards .card .wrapper .colorProd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #b82d44;
}

.contenedorCards .card .wrapper .imgProd {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: calc(100% - 300px);
  width: 100%;
  height: 300px;
  transition: ease all .3s;
}

.contenedorCards .card .wrapper .infoProd {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 550px;
  padding: 20px;
  box-sizing: border-box;
}

.contenedorCards .card .wrapper .infoProd p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #666;
  font-family: 'Roboto Condensed', sans-serif;
}

.contenedorCards .card .wrapper .infoProd .nombreProd {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #000000;
}

.contenedorCards .card .wrapper .infoProd .extraInfo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

.contenedorCards .card .wrapper .infoProd .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo {
  flex-grow: 1;
  position: relative;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio {
  font-family: "montserrat", sans-serif;
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio:before {
  content: var(--currencyPrefix);
  font-size: 20px;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta {
  position: absolute;
  left: 0;
  top: -30px;
  color: #0e960b;
  font-size: 20px;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta:before {
  font-size: 12px;
}

.contenedorCards .card .wrapper .infoProd .actions .action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
  width: 35px;
  height: 35px;
  position: relative;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all .3s;
  cursor: pointer;
  color: #1d1d1d;
  top: -25px;
}

.contenedorCards .card .wrapper .infoProd .actions .action svg {
  position: absolute;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all .3s;
}

.contenedorCards .card .wrapper .infoProd .actions .action svg path, .contenedorCards .card .wrapper .infoProd .actions .action svg circle {
  stroke: currentColor;
  fill: transparent;
  transition: ease all .3s;
}

.contenedorCards .card .wrapper .infoProd .actions .action.aFavs {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  color: #fff;
}

.contenedorCards .card .wrapper .infoProd .actions .action.alCarrito svg.inCart {
  transform: scale(0);
}

.card {
  background: transparent;
  border: transparent;
}

.perksDescription {
  font-size: 15px !important;
  text-align: start !important;
  color: #1a1a1a !important;
}

.icono.action.alCarrito i {
  font-size: 40px !important;
  color: #000000;
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
  padding-right: 20px;
}

.icono.action.alCarrito i:hover {
  transform: scale(1.1);
  color: #002ed0;
}

.wrapper {
  /*padding-top: 190px!important;*/
}

.colorProd {
  /*height: 120px!important;*/
}

/* TESTTTTT */

.imgProd {
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.imgProd img {
  width: 100%;
  height: 150%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.card:hover .imgProd img {
  transform: scale(1.1);
}

